# Virtual Environment
.venv/
venv/
ENV/

# Python Cache
__pycache__/
*.py[cod]
*$py.class
*.so

# PyInstaller Build Artifacts
build/
dist/
*.spec.bak

# macOS
.DS_Store
.AppleDouble
.LSOverride

# Cache
cache/
.cache/
custom_tracks/
